<div id="hpc-card-content">
  <div class="hpc-row">
    <span class="hpc-label">user:</span>
    <span class="hpc-value">
      <a
        href="https://news.ycombinator.com/user?id=<%= username %>"
        class="hpc-user-link"
      ><%= username %></a>
    </span>
  </div>
  <div class="hpc-row">
    <span class="hpc-label">created:</span>
    <span class="hpc-value"><%= created %></span>
  </div>
  <div class="hpc-row">
    <span class="hpc-label">karma:</span>
    <span class="hpc-value"><%= karma %></span>
  </div>
  <div class="hpc-row">
    <div class="hpc-label">about:</div>
    <div class="hpc-value hpc-about"><%= about %></div>
  </div>
</div>
