<div id="hhp-card-content">
  <div class="hhp-row">
    <span class="hhp-label">user:</span>
    <span class="hhp-value">
      <a
        href="https://news.ycombinator.com/user?id=<%= username %>"
        class="hhp-user-link"
      ><%= username %></a>
    </span>
  </div>
  <div class="hhp-row">
    <span class="hhp-label">created:</span>
    <span class="hhp-value"><%= created %></span>
  </div>
  <div class="hhp-row">
    <span class="hhp-label">karma:</span>
    <span class="hhp-value"><%= karma %></span>
  </div>
  <div class="hhp-row">
    <div class="hhp-label">about:</div>
    <div class="hhp-value hhp-about"><%= about %></div>
  </div>
</div>
