.hpc-container {
  z-index: 1;
  position: absolute;
  background: white;
  padding: 11px 13px;
  width: 216px;
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  // border: 1px solid #e45400;
  border: 1px solid #ff5e00;
}
